#content #chart {
	/* ... */
}





#content #chart #date_line {
	fill:             none;
	stroke-width:     0.5;
	stroke-dasharray: 10, 10;
}

#content #chart #date_line.active {
	stroke: #F00;
}

#content #chart #date_line.passive {
	stroke: none;
}



#content #chart #rest_tasks_number_axis {
	fill:         none;
	stroke:       #555;
	stroke-width: 0.5;
}

#content #chart .rest_tasks_number_line {
	fill:         none;
	stroke:       #555;
	stroke-width: 0.5;
}





#content #chart .node .outer {
	opacity: 0;
}

#content #chart .node .outer:hover {
	opacity: 1;
}

#content #chart .shift {
	fill:         none;
	stroke-width: 1;
}



#content #chart #schedule_graph .node {
	fill: #000;
}

#content #chart #schedule_graph .shift {
	stroke: #000;
}



#content #chart #implementation_graph .node {
	fill: #F00;
}

#content #chart #implementation_graph .shift {
	stroke: #F00;
}
