#content #chart {
	/* ... */
}





#content #chart #dates_grid #axis {
	fill:         none;
	stroke:       #555;
	stroke-width: 0.5;
}

#content #chart #dates_grid #axis_caption {
	fill:              #555;
	font-size:         18px;
	dominant-baseline: central;
	text-anchor:       middle;
}

#content #chart #dates_grid #line {
	fill:             none;
	stroke-width:     0.5;
	stroke-dasharray: 10, 10;
}

#content #chart #dates_grid #line.active {
	stroke: #F00;
}

#content #chart #dates_grid #line.passive {
	stroke: none;
}

#content #chart #dates_grid .caption {
	fill:              #555;
	font-size:         14px;
	dominant-baseline: central;
	text-anchor:       middle;
}





#content #chart #rest_tasks_number_grid #axis {
	fill:         none;
	stroke:       #555;
	stroke-width: 0.5;
}

#content #chart #rest_tasks_number_grid #axis_caption {
	fill:              #555;
	font-size:         18px;
	dominant-baseline: central;
	text-anchor:       middle;
}

#content #chart #rest_tasks_number_grid .line {
	fill:         none;
	stroke:       #555;
	stroke-width: 0.5;
}

#content #chart #rest_tasks_number_grid .caption {
	fill:              #555;
	font-size:         14px;
	dominant-baseline: central;
	text-anchor:       middle;
}





#content #chart .node .outer {
	opacity: 0;
}

#content #chart .node .outer:hover {
	opacity: 1;
}

#content #chart .shift {
	fill:         none;
	stroke-width: 1;
}



#content #chart #schedule_graph .node {
	fill: #000;
}

#content #chart #schedule_graph .shift {
	stroke: #000;
}



#content #chart #implementation_graph .node {
	fill: #F00;
}

#content #chart #implementation_graph .shift {
	stroke: #F00;
}





#content #chart #indicators .lead_indicator {
	fill: #DFD;
}

#content #chart #indicators .lag_indicator {
	fill: #FDD;
}







#content #legend {
	border:        1px solid #555;
	border-radius: 4px;
}





#content #legend .node {
	/* ... */
}

#content #legend .shift {
	fill:         none;
	stroke-width: 1;
}

#content #legend .caption {
	fill:              #555;
	font-size:         14px;
	dominant-baseline: central;
	text-anchor:       start;
}



#content #legend #schedule_graph .node {
	fill: #000;
}

#content #legend #schedule_graph .shift {
	stroke: #000;
}



#content #legend #implementation_graph .node {
	fill: #F00;
}

#content #legend #implementation_graph .shift {
	stroke: #F00;
}
